.course-card-container {
  width: 100%;
  height: 100%;
}
.course-title-icon-container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .course-title-icon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.course-title {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  margin: 0px;
}
@media screen and (min-width: 768px) {
  .course-title {
    font-size: 25px;
  }
}
.clock-icon-duration-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.course-duration {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 600;
  line-height: 1.2;
  margin-left: 4px;
}
@media screen and (min-width: 768px) {
  .course-duration {
    font-size: 15px;
  }
}
.course-description {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 1.5;
  margin-top: 0px;
}
@media screen and (min-width: 768px) {
  .course-description {
    font-size: 16px;
  }
}
.course-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px;
  margin: 0px;
}
.course-list-item {
  list-style-type: none;
}
.course-name {
  color: #25262c;
  background-color: #e2e8f0;
  font-family: 'Roboto';
  font-size: 10px;
  font-weight: 500;
  border-radius: 4px;
  line-height: 1.6;
  padding: 4px 8px;
  margin: 0px;
  margin-bottom: 8px;
  margin-right: 8px;
}
@media screen and (min-width: 768px) {
  .course-name {
    font-size: 13px;
    font-weight: 600;
    padding: 6px 12px;
  }
}